/*
marquee-mensajes: Para sobreponer el texto en el div de bgMensajesComponent
*/
.marquee-mensajes {
  position: absolute;
  width: 940px;
  /* background-color: blue;     */
}

/*
.marquee {
  width: 100% !important;
  margin-top: 135px;
  margin-left: 450px;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  overflow-x: -webkit-marquee;
  -webkit-marquee-direction: forwards;
  -webkit-marquee-style: scroll;
  -webkit-marquee-speed: normal;
  -webkit-marquee-increment: small;
  -webkit-marquee-repetition: 5;
  overflow-x: marquee-line;
  position: relative;
}

.marquee p {
  display: inline-block;
  white-space: nowrap;
  padding-left: 100%;
  font-size: 24px;
  will-change: transform;
  width: 100%;

  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);

  -moz-animation: marquee 30s linear infinite;
  -webkit-animation: marquee 30s linear infinite;
  animation: marquee 30s linear infinite;
}

@-moz-keyframes marquee {
  0% {
    -moz-transform: translateX(0%);
  }

  100% {
    -moz-transform: translateX(-100%);
  }
}

@-webkit-keyframes marquee {
  0% {
    -webkit-transform: translateX(0%);
  }

  100% {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes marquee {
  0% {
    -moz-transform: translateX(0%);

    -webkit-transform: translateX(0%);

    transform: translateX(0%);
  }

  100% {
    -moz-transform: translateX(-100%);

    -webkit-transform: translateX(-100%);

    transform: translateX(-100%);
  }
}


@media (prefers-reduced-motion: reduce) {
  .marquee {
    white-space: normal
  }

  .marquee span {
    animation: none;
    padding-left: 0;
  }
} */


.marquee {
  width: 100% !important;
  margin-top: 128px;
  margin-left: 450px;
  line-height: 50px;
  color: white;
  white-space: nowrap;
  overflow: hidden;
}

.scrolling  {
  animation: marquee 10s linear infinite;
  display: inline-block;
  font-size: 24px;
  padding-right: 10px;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
